
@{
    ViewData["Title"] = "Administrator";
}


<html>
<head>
</head>
<body>
    <img src="~/Images/WildcatMicrofund_horizontal-01.jpg"
     style="width:200px;height:100px;">
    <p>Hello World</p>
    <p>This is the login page?</p>
    <p>hi</p>
</body>
</html>
